.cart-btn {
    display: grid;
    grid-template-columns: 50px 40px;
    background: none;
    border: none;
    cursor: pointer;
    width: 2.5rem;
    height: 2.5rem;
    margin: 20px;

}
.cart-widget {
    width: 2.5rem;
    height: 2.5rem;
}
.totalproducts {
    padding: 10px;
    color: white;
    font-weight: 700;
}